<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{../fragments/layout :: headFragment}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders - Админпанель - Каталог</title>
</head>
<body class="d-flex flex-column h-100">
  <header th:replace="~{../fragments/layout :: header('Java23. Orders - Каталог')}"></header>
  <nav th:replace="~{../fragments/navigation :: main_menu('items')}"></nav>

    <main class="flex-shrink-0">
      <div class="container-lg">
          <form action="index.html" th:object="${item}" th:action="${item.barcode == null ? 'create' : 'edit'}"
                th:method="POST">
              <input type="hidden" th:field="*{id}"/>
          <div class="row my-3">
            <div class="col">
                <label for="input-item_barcode" class="form-label">Штрих-код</label>
              <input
                type="text"
                class="form-control"
                id="input-item_barcode"
                placeholder="0000000000000"
                size="13"
                maxlength="13"
                th:field="*{barcode}"
                th:errorclass="is-invalid"
              />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('barcode')}"
                     th:errors="*{barcode}">
                </div>
            </div>
            <div class="col">
                <label for="input-item_price" class="form-label">Цена</label>
              <input
                type="number"
                class="form-control"
                id="input-item_price"
                placeholder="0,00"
                min="0.01"
                step="0.01"
                th:field="*{price}"
              />
            </div>
            <div class="col">
                <label for="select-item_status" class="form-label">Статус</label>
                <select id="select-item_status" class="form-select" th:field="*{status}">
                <option selected value="CLOSED">Закрыт</option>
                <option value="OPEN">Доступен</option>
              </select>
            </div>
          </div>
          <div class="row my-3">
            <div class="col">
                <label for="input-item_title" class="form-label">Название</label>
              <input
                type="text"
                class="form-control"
                id="input-item_title"
                placeholder="Название товара"
                th:field="*{title}"
              />
            </div>
          </div>
          <div class="row my-5">
            <div class="col">
              <button class="btn btn-primary" type="submit">
                Сохранить и закрыть
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>

  <footer th:replace="~{../fragments/layout :: footer}"></footer>
  </body>
</html>
