<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{../fragments/layout :: headFragment}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders - Админпанель - Заказы</title>
</head>
<body class="d-flex flex-column h-100">
  <header th:replace="~{../fragments/layout :: header('Java23. Orders - Заказы')}"></header>
  <nav th:replace="~{../fragments/navigation :: main_menu('orders')}"></nav>


    <main class="flex-shrink-0">
      <div class="container-lg">
          <form action="index.html" th:action="create" th:method="POST" th:object="${order}">
              <div class="row my-3">
                  <div class="col">
                      <label for="input-customer_name" class="form-label">Имя покупателя:</label>
                      <input id="input-customer_name" class="form-control" th:field="*{customerName}"/>
                  </div>
              </div>
          <div class="row align-items-end my-3">
              <div class="col">
                  <label for="input-add_barcode" class="form-label">Штрих-код</label>
              <input
                type="text"
                class="form-control"
                id="input-add_barcode"
                size="13"
                maxlength="13"
                pattern="[0-9]{13}"
                th:field="*{newItem.barcode}"
                th:errorclass="is-invalid"
              />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('newItem.barcode')}"
                     th:errors="*{newItem.barcode}"></div>
            </div>
            <div class="col">
                <label for="input-add_quantity" class="form-label">Количество</label>
              <input
                type="number"
                class="form-control"
                id="input-add_quantity"
                placeholder="1"
                value="1"
                min="0"
                step="1"
                th:field="*{newItem.quantity}"
              />
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" name="addItemSubmit">
                <i class="bi bi-cart-plus"></i> Добавить
              </button>
            </div>
          </div>
              <div class="row">
                  <div class="col">
                      <table class="table table-bordered table-sm">
                          <thead class="table-primary">
                          <tr>
                              <th scope="col">Штрих-код</th>
                              <th scope="col">Название</th>
                              <th scope="col">Цена, руб.</th>
                              <th scope="col">Кол-во</th>
                              <th scope="col">Сумма, руб.</th>
                              <th scope="col"></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="item, rowStat : *{items}">
                              <td>
                                  <span th:text="${item.barcode}">4601234500011</span>
                                  <input type="hidden" th:field="*{items[__${rowStat.index}__].barcode}"/>
                              </td>
                              <td th:text="${item.item.title}">Холодильник
                              </td>
                              <td th:text="${#numbers.formatCurrency(item.item.price)}" class="text-end">23653,84</td>
                              <td th:text="${item.quantity}" class="text-end">
                                  <span th:text="${item.quantity}">1</span>
                                  <input type="hidden" th:field="*{items[__${rowStat.index}__].quantity}"/></td>
                              <td th:text="${#numbers.formatCurrency(item.item.price*item.quantity)}" class="text-end">
                                  23653,84
                              </td>
                              <td class="text-center">
                                  <button class="btn btn-outline-danger btn-sm" type="submit"
                                          name="removeItemSubmit" th:value="${item.barcode}"
                                  ><i class="bi bi-trash-fill"></i
                                  ></button>
                              </td>
                          </tr>
                          </tbody>
                          <tfoot class="fw-bold table-secondary">
                          <tr>
                              <td colspan="4">ИТОГО</td>
                              <td th:text="${#numbers.formatCurrency(order.getTotalAmount())}" class="text-end">
                                  78079,14
                              </td>
                              <td></td>
                          </tr>
                          </tfoot>
                      </table>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <button class="btn btn-primary" type="submit">Сохранить и закрыть</button>
                  </div>
              </div>
          </form>
    </main>

  <footer th:replace="~{../fragments/layout :: footer}"></footer>
  </body>
</html>
