<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{../fragments/layout :: headFragment}">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Orders - Админпанель</title>
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{../fragments/layout :: header('Java23. Orders - Заказы')}"></header>
<nav th:replace="~{../fragments/navigation :: main_menu('')}"></nav>

<main class="flex-shrink-0">
</main>

<footer th:replace="~{../fragments/layout :: footer}"></footer>
</body>
</html>
