<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<nav th:fragment="main_menu(active_page)" class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <div class="container-lg">
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${active_page == 'items'}? 'active'"
                       href="../items/index.html"
                       th:href="@{/adminpanel/items}">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${active_page == 'orders'}? 'active'"
                       href="../orders/index.html"
                       th:href="@{/adminpanel/orders}">Заказы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav th:fragment="pagination" aria-label="products-navigation">
    <ul class="pagination justify-content-end" th:if="${pagesCount} > 1">
        <li class="page-item">
            <button class="page-link" onclick="setParam('page', 0)">&laquo;</button>
        </li>
        <li th:each="page: ${#numbers.sequence(1, pagesCount)}" class="page-item active"
            th:class="${page} == ${currentPage} ? 'active' : ''">
            <button class="page-link" th:onclick="'setParam(`page`,' +${page}+ ')'" th:text="${page}">1
            </button>
        </li>
        <li class="page-item">
            <button class="page-link" onclick="setParam('page', 5)"
                    th:onclick="setParam('page', ${pagesCount})">&laquo;
            </button>
        </li>
    </ul>
</nav>
</body>
</html>